@import "bootstrap";

a {
  color: #36dcdf;
  text-decoration: none;
}
header {
  background: none;
  border: none;
  padding: 63px 0 0;
}
.logo {
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 27px;

  .logo_h__img {
    margin: 20px 14px 0px 0;
  }
  a {
    float: left;
  }
  .logo_tagline {
    float: left;
    background: url(/media/images/logo_tagline.png) 0 0 no-repeat;
    padding: 21px 0 21px 24px;
    margin: 0;
    font-style: italic;
    font-size: 16px;
    line-height: 16px;
    color: #d2d2d2;
    max-width: 400px;
    letter-spacing: -1px;
    text-transform: uppercase;
  }
}
.slogan {
  display: inline-block;
  float: left;
}
h1 {
  &.title-header {
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0;
  }
}
