<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    {% include 'admin/styles.html' %}
</head>
<body>
{% block menu %}{% include 'admin/menu.html' %}{% endblock menu %}
{% block navigation %}{% endblock navigation %}
{% block content %}{% endblock content %}
{% block footer %}{% endblock %}
{% block buttons_bar %}{% endblock %}
{% include 'admin/scripts.html' %}
</body>
</html>